body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f7;
    margin: 0;
    padding: 30px;
}

.heading {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 25px;
}
        
table {
    width: 80%;
    margin: 0 auto 40px auto;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: #3498db;
    color: white;
    border: 1px solid #333;
    padding: 12px;
    text-align: center;
}

td {
    border: 1px solid #333;
    padding: 12px;
    text-align: center;
}


.highlightrow {
    background-color: #ffeaa7;
    font-weight: bold;
}

#feedbackform {
    width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.formlabel {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

.formgroup {
    margin-bottom: 18px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #747474;
    border-radius: 6px;
    margin-top: 5px;
}

textarea {
    height: 100px;
    resize: vertical;
}

.radiogroup {
    margin-top: 8px;

}
 
.radiogroup label {
    margin-right: 15px;
}

#submitbutton {
    width: 100%;
    padding: 12px;
    background-color: lightskyblue;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

#submitbutton:hover {
    background-color: #1d83c7;
}