* {
    margin: 5px;
    padding: 0;
}

body {
    background-color: aliceblue;
}

p {
    font-size: 20px;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    color: lightseagreen
}

.profilecardp {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#aboutme {
    color: gray;
    font-size: 15px;
}

.mylinks {
    color: #4f46e5;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.mylinks:hover {
    color: #ffffff;
    background-color: #4f46e5;
    padding: 5px 10px;
    border-radius: 4px;
}