* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Arial;
    font-weight: 500;
    color: white
}

.header {
    width: 100%;
    height: 100px;
    border: dotted;
    border-color: lightskyblue;
    background-color: lightblue;
    text-align: center;
    line-height: 100px;
}

.navbar {
    height: 50px;
    padding: 0 10px;
    text-align: center;
    border: dotted;
    border-color: rgb(141, 67, 67);
    background-color: rgb(234, 129, 129);
}

.navlink {
    display: inline-block;
    color: rgb(179, 64, 64);
    line-height: 50px;
    padding: 0 5px;
    transition: color 0.3s;    
}

.navlink:hover {
    color: white
}

.sidebar {
    float:left;
    width: 150px;
    height: 300px;
    background-color: rgb(214, 219, 157);
    border: dotted;
    border-color: rgb(153, 158, 163);
    padding-top: 20px;
}

h3 {
    font-family: arial;
    color: white;
    text-align: center;
    font-weight: 400;
}

.sidebarlink {
    text-align: center;
    display: block;
    color: rgb(129, 129, 82);
    padding: 20px;
    transition: color 0.3s;
}

.sidebarlink:hover {
    color: white
}

.maincontent {
    float: right;
    width: 1376px;
    height: 300px;
    background-color: rgb(173, 224, 95);
    border: dotted;
    border-color: rgb(96, 116, 65);
    padding-top: 20px;
}

p {
    margin: 20px;
    font-family: arial;
    color: rgb(240, 239, 239);
}

.footer {
    width: 100%;
    text-align: center;
    background-color: purple;
    padding: 40px;

}

#container {
    display: inline-block;
    height: 320 px;
}